body {
    display:flex;
    flex-direction: column;   
    min-width: 350px; 
    background-color: var(--light1-color);
}

header {
    height:50px;
    display:flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
}

header .logo {
    flex: 1;
    height:100%;
}

header .logo img {
    height:100%;
}


header .header_rest {
    flex: 5;
}


main {
    flex-grow: 8;
}


sl-tab::part(base) {
    font-size: var(--sl-font-size-normal);
}


.wordlist_container {
    padding:10px;
}



