:host {
  position: block;
  color: var(--sl-color-neutral-700);
}

#nav {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;  
}

.nav-position {
  font-weight: bold;
  color: #555;
  white-space: nowrap;
}

.phrase-dot {
  width:auto;
  font-weight: bold;
  color: blue;
  cursor: pointer;
  border: none;
  background: none;
  font-size:1.3rem;
  margin: 0 4px;
}

.phrase-dot.active {
  text-decoration: underline;
  }

.def-block {
  margin-bottom: 1em;
}

sl-card {
  max-height: 90vh;
  width: 100%;
  overflow-y: scroll;
}

sl-card::part(body) {
  margin: 0px;
  padding: 5px;
}

.lineInfo {
  width:100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.lineInfo::-webkit-scrollbar {
  display:none;
}

.lineInfo sl-button::part(base) {
  padding: 7px 8px;
}

.lineInfo sl-button::part(label) {
  font-size: 18px;
  padding: 0 5px 0 0;
}

.lineInfo sl-button::part(prefix) {
  display:none;
}

.lineInfo sl-icon {
  color: var(--sl-color-warning-600);
}

.rating sl-icon {
  color: var(--sl-color-warning-300);
}

sl-details {
  margin-bottom: 5px;
}

sl-details::part(header) {
  padding: 5px 5px 5px 5px;
  line-height: 1.1;
  font-size: 1.3rem;
  max-height: 4rem;
  overflow: scroll;
  text-overflow: ellipsis; 
  align-items: flex-start;
}

sl-details::part(header)::-webkit-scrollbar  {
  display:none;
}

sl-details::part(content) {
  padding: 5px 5px 5px 5px;
  font-size: 1.2rem;
  /* margin-left: 25px; */
  line-height: 1.3rem;
  max-height: 3rem;
  overflow-y: scroll;    
  overflow: auto;            /* Enables scrolling */
  scrollbar-width: none;     /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

sl-details[disabled] {
  opacity: 1;
  color: black;
  pointer-events: none;
  background-color: #ffffff;
}

sl-details::part(content)::-webkit-scrollbar {
  display: none;
}

.examChild:nth-child(odd) {
  padding: 3px;
  background: var(--sl-color-neutral-200);
}

.examChild:nth-child(even) {
  padding: 3px;
   background: var(--sl-color-neutral-300);
}
 
/* scrollBar hidden */
.scrollBar_hidden {
  overflow: auto;            /* Enables scrolling */
  scrollbar-width: none;     /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

/* Chrome, Safari, Edge (WebKit) */
.scrollBar_hidden::-webkit-scrollbar {
  display: none;
}

/* No Scrollable Style */
.noScroll_container {
  overflow: hidden;     /* Core scroll prevention */
  overscroll-behavior: contain; /* Prevent scroll chaining */
  max-height: 100%;     /* Prevent height overflow */
  height: 100%;         /* Ensure full containment */
  width: 100%;
  -webkit-overflow-scrolling: touch; /* iOS safari quirk */
  scrollbar-width: none;   /* Firefox: hide scrollbar */
}

/* Hide scrollbar for WebKit-based browsers (Chrome, Safari) */
.noScroll_container::-webkit-scrollbar {
  display: none;
}

.editElement {
  /* display: none; */
}


/* @keyframes wiggle_horizon {
  0% { transform: translateX(0); }
  50% { transform: translateX(-20px); }
  100% { transform: translateX(0); }
}
.scroll-prompt_horizon {
  animation: wiggle_horizon 5s ease-in-out infinite;
} */


@keyframes wiggle_vertical {
  0% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

.scroll-prompt_vertical {
  animation: wiggle_vertical 5s ease-in-out infinite;
}

.scroll-area {
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  display: flex;
}

.scroll-item {
  scroll-snap-align: start;
}

.multiline {
  margin-bottom:5px;
}

sl-button.multiline::part(textarea) {
  white-space: normal;   /* allow wrapping */
  text-align: left;    /* optional: center text */
  line-height: 1.1;      /* adjust spacing for readability */
  background-color: #EAE0D5;
}

sl-button.multiline::part(label) {
  font-size:2rem;
  padding: 2px 5px;
  overflow-y: hidden;
}


sl-button.multiline::part(label)::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

sl-button.multiline::part(label)::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

sl-button.multiline::part(label)::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

sl-button.multiline::part(label)::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
}

.gridInfo {
  width:100%;
  display:grid;
  grid-template-columns: 4.5rem minmax(0, 1fr);
  gap: 1px; /* The border width */
  padding: 1px; /* Optional: adds a border around the outer edge */  
  color: var(--sl-input-text-color);
}

.gridInfo-item {
  background-color: #fff; /* The item background color */
  padding: 2px;
}

.gridInfo-title {
  display:flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-end;  
  font-size: var(--sl-input-label-font-size-medium);
}

/* mimic sl-input size="small" */
#relatedPhrases { 
  height: calc(var(--sl-input-height-small) - var(--sl-input-border-width) * 2);
  border: solid var(--sl-input-border-width) var(--sl-input-border-color);
  border-radius: var(--sl-border-radius-medium);
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 5px;
  margin:2px;
  padding: 0 10px;
  font-size: var(--sl-input-label-font-size-medium);
  user-select: none;
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;

}

#relatedPhrases .related_chip {
  padding: 0px 6px;
  margin: 0px 0;
  flex-shrink: 0;
  border-radius: 2px;
  font-size: inherit;
  line-height: calc(var(--sl-input-height-small) - var(--sl-input-border-width) * 2 - 2px);
  height: auto;
}

#relatedPhrases .placeHolder {
  margin: 0 calc(var(--sl-input-spacing-small) - 5px);  
  color: var(--sl-input-text-color);
  font-size: var(--sl-input-label-font-size-small);
  flex-shrink: 0;
}



#relatedPhrases:hover {
    border: solid var(--sl-input-border-width) var(--sl-input-border-color-hover);
}

#relatedPhrases::-webkit-scrollbar {
  display:none;
}

#reminderText {
  margin: 2px 2px;
  width: calc(100% - 4px);
}

#tagSelection {
  margin: 2px 2px;
  width: calc(100% - 4px);
}

#imageInput {
  position: relative; 
}

#imageInput #imageInputBtn {
  position: absolute; 
  top: 2px;
  right:2px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: rgba(255,255,255,0.8);
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  height: 1.8rem;
  width: 1.8rem;
}

#imageContainer {
  background-color: #ccc;
  width:100%;
  height: 200px;
  border: 1px solid #ccc;
  font-size: 10rem;
  display:flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  z-index: 0;
}


#imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#imageContainer span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  height: 1.8rem;
  width: 1.8rem;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 5px;
  opacity: 0.9;
  background: rgba(255,255,255,0.7);
}



/* scrollbar */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
}

.label-on-left {
    --label-width: 4.5rem;
    --gap-width: 1rem;
  }

.label-on-left + .label-on-left {
  margin-top: calc(var(--sl-spacing-medium));

}

.label-on-left::part(form-control) {
  display: grid;
  grid: auto / var(--label-width) 1fr;
  gap: var(--sl-spacing-3x-small) var(--gap-width);
  align-items: center;
}

.label-on-left::part(form-control-label) {
  text-align: right;
  padding-top:3px;
}

.label-on-left::part(form-control-help-text) {
  grid-column-start: 2;
}

#relatedPhrases::part(input) {
  width: 0;
  padding: 0;
  margin: 0;
  border: none;
  opacity: 0;   /* invisible */
}


/* Target the prefix slot of your sl-input */
#relatedPhrases::part(prefix) {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;       /* keep chips in one line */
  overflow-x: scroll;        /* enable horizontal scrolling */
  overflow-y: hidden;      /* hide vertical scrollbar */
  gap: 10px;                /* spacing between chips */
  width: 100%;             /* take full width of sl-input */
  box-sizing: border-box;  /* respect padding/borders */
}

/* Optional: style the scrollbar */
#relatedPhrases::part(prefix)::-webkit-scrollbar {
  height: 6px;
}


sl-input::part(base) {
  font-size: 18px;
}

