:host {
  position: block;
  color: var(--sl-color-neutral-700);
}

#nav {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;  
}

.nav-position {
  font-weight: bold;
  color: #555;
  white-space: nowrap;
}

.phrase-dot {
  width:auto;
  font-weight: bold;
  color: blue;
  cursor: pointer;
  border: none;
  background: none;
  font-size:1.3rem;
  margin: 0 4px;
}

.phrase-dot.active {
  text-decoration: underline;
  }

.def-block {
  margin-bottom: 1em;
}

sl-card {
  height: 80dvh;
  width: 100dvw;
  overflow-y: scroll;
}

sl-card::part(body) {
  margin: 0px;
  padding: 10px;
}

h2 {
    /* line-height: 1rem; */
    /* font-size: 2rem; */
    margin: 0px 0 0px 0;
    padding: 5px 0;  
    font-size: 2.5rem;
    line-height: 1;
    overflow-wrap: break-word;
    max-height: 65px !important;
    overflow-y: scroll;   
    scrollbar-width: none;     /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
    transition: font-size 0.6s ease-in-out;
    max-width: 70vw;
}

h2 ::-webkit-scrollbar {
  display: none;
}

sl-details {
  font-size: 1.2rem;
}

sl-button::part(label) {
  font-size:1.1rem;
  font-weight: bold;
}

sl-divider {
  margin: 5px 0px;
}

sl-divider .defi {
  line-height: 1;
}

sl-details::part(header) {
  padding: 5px 5px 5px 5px;
  line-height: 1.1;
  font-size: 1.2rem;
  vertical-align: middle; 
}

sl-details::part(content) {
  padding: 5px 5px 5px 5px;
  /* margin-left: 25px; */
  line-height: 1.3rem;
  max-height: 3rem;
  overflow-y: scroll;    
  overflow: auto;            /* Enables scrolling */
  scrollbar-width: none;     /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

sl-details[disabled] {
  opacity: 1;
  color: black;
  pointer-events: none;
  background-color: #ffffff;
}

sl-details::part(content)::-webkit-scrollbar {
  display: none;
}

.examChild:nth-child(odd) {
  padding: 3px;
  background: var(--sl-color-neutral-200);
}

.examChild:nth-child(even) {
  padding: 3px;
   background: var(--sl-color-neutral-300);
}
 
/* scrollBar hidden */
.scrollBar_hidden {
  overflow: auto;            /* Enables scrolling */
  scrollbar-width: none;     /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

/* Chrome, Safari, Edge (WebKit) */
.scrollBar_hidden::-webkit-scrollbar {
  display: none;
}

/* No Scrollable Style */
.noScroll_container {
  overflow: hidden;     /* Core scroll prevention */
  overscroll-behavior: contain; /* Prevent scroll chaining */
  max-height: 100%;     /* Prevent height overflow */
  height: 100%;         /* Ensure full containment */
  width: 100%;
  -webkit-overflow-scrolling: touch; /* iOS safari quirk */
  scrollbar-width: none;   /* Firefox: hide scrollbar */
}

/* Hide scrollbar for WebKit-based browsers (Chrome, Safari) */
.noScroll_container::-webkit-scrollbar {
  display: none;
}

.editElement {
  /* display: none; */
}


/* @keyframes wiggle_horizon {
  0% { transform: translateX(0); }
  50% { transform: translateX(-20px); }
  100% { transform: translateX(0); }
}
.scroll-prompt_horizon {
  animation: wiggle_horizon 5s ease-in-out infinite;
} */


@keyframes wiggle_vertical {
  0% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

.scroll-prompt_vertical {
  animation: wiggle_vertical 5s ease-in-out infinite;
}

.scroll-area {
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  display: flex;
}

.scroll-item {
  scroll-snap-align: start;
}


sl-button.multiline::part(base) {
  white-space: normal;   /* allow wrapping */
  text-align: left;    /* optional: center text */
  line-height: 1.1;      /* adjust spacing for readability */
  background-color: #EAE0D5;
}

sl-button.multiline::part(label) {
 font-size:1.5rem;
 padding: 5px 10px;
 max-height: 70px;
 overflow-y: auto;

}


sl-button.multiline::part(label)::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

sl-button.multiline::part(label)::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

sl-button.multiline::part(label)::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

sl-button.multiline::part(label)::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
}


/* scrollbar */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
}

.label-on-left {
    --label-width: 3.75rem;
    --gap-width: 1rem;
  }

.label-on-left + .label-on-left {
  margin-top: var(--sl-spacing-medium);
}

.label-on-left::part(form-control) {
  display: grid;
  grid: auto / var(--label-width) 1fr;
  gap: var(--sl-spacing-3x-small) var(--gap-width);
  align-items: center;
}

.label-on-left::part(form-control-label) {
  text-align: right;
}

.label-on-left::part(form-control-help-text) {
  grid-column-start: 2;
}