:host {
  width: 100%;  
  display: block;
}

smart-dialog {
  display: none;
}

.container {
  display: flex;  
  flex-direction: column;
  width: calc(100% - 10px);
  padding: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 75vh;
}

.container_row {  
  display:grid;
  grid-template-columns: minmax(0, 1fr) auto;
  gap: 5px;
  margin: 5px 0;
}

.smartDragdrop_buttons {
  width: 100%;
  margin: 5px 0;  
}

sl-button-group {
  display: flex;       /* ensure flex layout */
  width: 100%;         /* take full width of parent */
}

sl-button-group::part(base) {
  flex: 1;             /* distribute buttons evenly */
}

sl-button-group sl-button::part(base) {
  flex: 1;             /* each button expands to fill */
}

.body sl-button-group sl-button::part(label) {
  padding: 0 10px;
}
  
.footer sl-button-group sl-button::part(base) {
  font-size: 16px;
  font-weight: bolder;
}  

.icon_button sl-button::part(base) {
  font-size: 1.1rem;
}

.container_row sl-input,
.container_row sl-button {
  min-width: 0; /* allow shrinking inside grid */
}


.container_row sl-input {
  flex-shrink: 0;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

extended-smart-table {
  margin-bottom: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* centers the element */
  z-index: 10; /* put it above content if needed */
  display:none;
}

