:host {
  width: 100%;  
  display: block;
}

smart-dialog {
  display: none;
}

.container {
  width: calc(100% - 10px);
  padding: 5px;
  overflow-y: scroll;
}

.container_row {  
  display:grid;
  grid-template-columns: 1fr auto auto;
  gap: 5px;
  margin: 5px 0;
}

.smartDragdrop_buttons {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
  margin: 5px 0;
}

.container_row sl-input {
  flex-shrink: 0;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

extended-smart-table {
  margin-bottom: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* centers the element */
  z-index: 10; /* put it above content if needed */
  display:none;
}

