#nav {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;  
}

.nav-position {
  font-weight: bold;
  color: #555;
  white-space: nowrap;
}

.phrase-dot {
  font-weight: bold;
  color: blue;
  cursor: pointer;
  border: none;
  background: none;
  font-size:1.3rem;
  margin: 0 4px;
}

.phrase-dot.active {
  text-decoration: underline;
}

.def-block {
  margin-bottom: 1em;
}

sl-card {
  height: 80dvh;
  width: 100dvw;
  overflow-y: scroll;
}

h2 {
    line-height: 0;
    font-size: 2rem;
}

/* scrollBar hidden */
.scrollBar_hidden {
  overflow: auto;            /* Enables scrolling */
  scrollbar-width: none;     /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

/* Chrome, Safari, Edge (WebKit) */
.scrollBar_hidden::-webkit-scrollbar {
  display: none;
}

/* No Scrollable Style */
.noScroll_container {
  overflow: hidden;     /* Core scroll prevention */
  overscroll-behavior: contain; /* Prevent scroll chaining */
  max-height: 100%;     /* Prevent height overflow */
  height: 100%;         /* Ensure full containment */
  width: 100%;
  -webkit-overflow-scrolling: touch; /* iOS safari quirk */
  scrollbar-width: none;   /* Firefox: hide scrollbar */
}

/* Hide scrollbar for WebKit-based browsers (Chrome, Safari) */
.noScroll_container::-webkit-scrollbar {
  display: none;
}


@keyframes wiggle_horizon {
  0% { transform: translateX(0); }
  50% { transform: translateX(-20px); }
  100% { transform: translateX(0); }
}
.scroll-prompt_horizon {
  animation: wiggle_horizon 5s ease-in-out infinite;
}


@keyframes wiggle_vertical {
  0% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

.scroll-prompt_vertical {
  animation: wiggle_vertical 5s ease-in-out infinite;
}

.scroll-area {
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  display: flex;
}

.scroll-item {
  scroll-snap-align: start;
}
