:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  background: #fff;
  box-sizing: border-box;
  overflow: hidden;
  color: var(--sl-input-color);
  height: 100%;
}

#component-container {
  overflow: scroll;
  display: flex;
  height: 100%;
}


.columns {
  display: flex;
  gap: 5px;
  flex: 1 1 auto;
  min-height: 0;
}

.column-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height:100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Base container styles only once */
.container {
  display: flex;
  align-content: flex-start;
  padding: 5px;
  background-color: #f2f2f2;
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;
  row-gap: var(--row-gap, 0px);
  column-gap: var(--column-gap, 0px);
}

/* List view */
.container[data-view="list"] {
  flex-direction: column;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.container[data-view="list"] .draggable {
  display: flex;
  flex-direction: row;
  width: var(--list-item-width, 120px);
  height: var(--list-item-height, 30px);
  justify-content: flex-start;
  padding: 5px;
}

.container[data-view="list"] .draggable img {
  display: none;
}

.container .draggable .detail_field {
  display: none;
}

.container[data-view="list"] .draggable .title {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}




/* Detail view */
.container[data-view="detail"] {
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.container[data-view="detail"] .draggable {
  display: grid;
  grid-template-columns: var(--grid-cols);
  height: var(--list-item-height, 30px);
  gap: 10px;
  padding: 5px;
  font-size: 1rem;
  background: var(--sl-color-neutral-50);
  flex-shrink: 0;

}

/* Image column
.container[data-view="detail"] .draggable img {
  width: var(--list-item-height, 40px);
  height: var(--list-item-height, 40px);
  object-fit: cover;
  border-radius: 4px;
} */


/* Detail column */
.container[data-view="detail"] .draggable .detail_field {
  display: flex;        /* show image in grid */
  flex-direction: row;
  justify-content: start;
  align-items: start;
  line-height: 15px;
  overflow: hidden;
  padding:0;
  margin:0;
  height: var(--list-item-height, 40px);
  width:100%;
}



/* Icon view */
.container[data-view="icon"] {
  flex-direction: row;
  flex-wrap: wrap;
}
.container[data-view="icon"] .draggable {
  display: flex;
  position: relative;
  flex-direction: column;
  width: var(--icon-size, 120px);
  height: var(--icon-size, 120px);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container[data-view="icon"] .draggable img {
  width:var(--icon-size);
  height: calc(var(--icon-size) - 25px);
  object-fit: cover;
  border: 1px solid #ccc;
  overflow:hidden;
  user-select: none; 
  -webkit-user-drag: none; /* Safari/iOS */ 
  pointer-events: none; /* optional: if you only want the wrapper to handle events */
}
/* 
.container[data-view="icon"] .draggable .corner_BotLeft {  
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  left: 0;
}

.container[data-view="icon"] .draggable .corner_BotRight {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
} */

.container[data-view="icon"] .draggable .corner_TopLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:2px;
  left:2px;
  border-radius: 5px;
  opacity: 0.9;
  background: rgba(255,255,255,0.5);
}
.container[data-view="icon"] .draggable .corner_TopRight {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:2px;
  right:2px;
  border-radius: 5px;
  background: rgba(255,255,255,0.5);
}


.container[data-view="icon"] .draggable .title {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 100%;
}



/* === Shared styles === */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
  user-select: none;
  gap: 10px;
}

.header_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.draggable {
  background: var(--sl-color-warning-50);
  margin: 0;
  padding: 0px;
  border: var(--sl-input-border-width) solid var(--sl-input-border-color);
  border-radius: 4px;
  cursor: move;
  user-select: none;
  font-size: 1rem;
  overflow: hidden;
  transition: transform 380ms cubic-bezier(0.34, 1.56, 0.64, 1),
              box-shadow 380ms ease;
  color: #808088;
}

.draggable.moving { box-shadow: 0 6px 12px rgba(0,0,0,0.15); }

.draggable .info,
.draggable .example {
  color: #999;
  font-size: 0.8rem;
}
/* 
.draggable.moving-up {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.draggable.moving-down {
  transform: translateY(3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

.dragging {
  opacity: 0.5;
}

.selected {
  border: var(--sl-focus-ring-color) var(--sl-input-border-width) solid;
  box-shadow: 0 0 3px 3px #32bbff;
}

/* Lasso selection box */
#lasso {
  position: fixed;
  border: 1px dashed #1c4c5b;
  background: rgba(28, 76, 91, 0.1);
  pointer-events: none;
  display: none;
  z-index: 9999;
}

/* Toolbar */
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  background-color: #f2f2f2;
}

.left-tools,
.right-tools {
  display: flex;
  gap: 5px;
}

/* Scrollbar tweaks */
.smallScrollBar {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}
.smallScrollBar::-webkit-scrollbar {
  width: 1px;
  background: transparent;
}
.smallScrollBar::-webkit-scrollbar-track {
  background: transparent;
}
.smallScrollBar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1px;
  transition: background-color 0.3s ease-in-out;
}
.smallScrollBar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

.drag-ghost {
  opacity: 0.5;
  pointer-events: none;
}

.drag-placeholder {
  opacity: 0.6;
  background: #ddd;
  border: none;
}



/* scrollbar */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
}


/* /////////////// selectionMode */
.mode-toggle {
  width: 16px;
  height: 16px;
  border: 1px solid #999;
  border-radius: 4px;
  display: flex;
  align-items: center;   /* vertical centering */
  justify-content: center; /* horizontal centering */
  cursor: pointer;
  font-size: 14px;
}

/* Mode 0: Normal */
.mode-toggle[data-mode="0"] {
  color: transparent; /* no icon visible */
}

/* Mode 1: Multi-select individual */
.mode-toggle[data-mode="1"] {
  background: #8c8c8c;
  color: white;
}

/* Mode 2: Range select */
.mode-toggle[data-mode="2"] {
  background: rgb(83, 83, 83);
  color: white;
}


sl-icon-button::part(base) {
  margin:4px 0 0px 0px;
  padding:0;
}

.hidden {
  display:none;
}